:root {
  --soar-red: #F1665F;
  --soft-gray: #B8C1BD;
  --soar-blue: #15BED3;
  --light-gray: #E6E8DE;
}
.page{
min-height: 1700px
  
}
.header-image{
  text-align: right;
  float: right;
  background-color: var(--soar-blue);
}

.dash-header{
    height: 65;
   background-color: var(--soar-blue);
}
.title{
   background-color: var(--soar-blue);
  font-size: 30px;
  font-style: italic;
  font-family: serif;
  color: white;
  position: relative;
  bottom: 5px;
}
.dash-sidebar{
  padding-top: 7px;
  max-width: 435px;
}
.dash-body{
  padding-top: 7px;
}
.container-fluid{
  background-color: var(--light-gray);
}
.header{
  background-color: var(--soar-blue);
}

.dash-header .title{

}
.dash-sidebar{
  background-color: var(--soft-gray);
  min-height: 1700px;
}
.dash-body{
  background-color: var(--light-gray);
  min-height: 1700px;
}
.date-range{
  font-size: 14px;
}
